<div class="container aboutContainer">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/assets/img2/tall-c-bean.png" />
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>ABOUT ME</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            </p>
        </div>
    </div>
</div>



<div class="container socialContainer">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-4 socialDiv">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
    </div>
</div>
