<div class="container aboutContainer">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/assets/img2/ClarkPortrait.png" />
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>ABOUT ME</h2>
            <p>
                I'm a photographer. Contact me to learn more and book me :)
            </p>
        </div>
    </div>
</div>



<div class="container socialContainer">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-4 socialDiv">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
    </div>
</div>
