<div class="container aboutContainer">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="/assets/img2/ClarkPortrait.png" />
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>ABOUT ME</h2>
            <p>
                Hey! My Name is Clark Clifford Wiesenberg, I'm a Utah based photographer currently living in the Provo/Orem area. Photography is a great passion of mine and something that I absolutely love doing. I'm always looking for people, places, and things to photograph. I love to travel, watch movies, play frisbee with my border collie, go to disneyland, watch sports, and do basically anything that involves food. Let's make some memories!    
            </p>
            <p>

            </p>
        </div>
    </div>
</div>



<div class="container socialContainer">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-4 socialDiv">
            <a href="mailto:clarkcliffordphoto@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-1 socialDiv">
            <a href="https://instagram.com/clarkcliffordphoto"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-1 socialDiv">
            <a href="https://twitter.com/clarkcliffordph"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-1 socialDiv">
            <a href="https://facebook.com/clarkcliffordphoto"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
