h1 {
    text-align: center;
    position: relative;
}

h1:hover {
    cursor: pointer;
}

h1::after {
    content: '';
    border-bottom: 1px solid darkgrey;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 50px;
}
.container {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.col-xs-3:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    h1::after {
        display: none;
    }
}
