<div class="container socialContainer">
    <div class="row">
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
            <h3>Email Me</h3>
        </div>
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
            <h3>Find Me On Instagram</h3>
        </div>
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
            <h3>Find Me On Twitter</h3>
        </div>
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
            <h3>Find Me On Facebook</h3>
        </div>
    </div>
</div>
