<img src="/assets/resized/wide-bw-snug.png" />



<div class="container socialContainer">
    <div class="row">
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i>
            <a href="mailto:clarkcliffordphoto@gmail.com">Email Me</a>
        </div>
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
            <a href="https://instagram.com/clarkcliffordphoto">Find Me On Instagram</a>
        </div>
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-twitter fa-4x" aria-hidden="true"></i>
            <a href="https://twitter.com/clarkcliffordph">Find Me On Twitter</a>
        </div>
        <div class="col-xs-12 col-md-3 socialDiv">
            <i class="fa fa-facebook fa-4x" aria-hidden="true"></i>
            <a href="https://facebook.com/clarkcliffordphoto">Find Me On Facebook</a>
        </div>
    </div>
</div>
