.row {
    height: 100%;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
}

img:hover {
    cursor: pointer;
    box-shadow: 1px 1px 60px rgba(0, 0, 0, 1);
    transition: all 0.5s ease;
}

img {
    transition: all 0.5s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.big {
    width: 100vw;
    height: 100%;
    background-color: white;
    position: fixed;
    overflow: scroll;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.big img {
    max-width: 90vw;
    max-height: 150vh;
}



.socialContainer {
    margin-bottom: 24px;
}

.socialContainer a {
    color: black;
}

.socialDiv {
    text-align: center;
}

.socialDiv:hover {
    cursor: pointer;
}




@media (max-width: 991px) {
    .row {
        height: auto;
        display: block;
        margin-bottom: 0px;
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        margin-bottom: 24px;
        max-width: 100%;
    }
}
