<div class="homeJumbo">
    <img src="/assets/img2/homepic.png" />
</div>
<div class="reserved">
    <i class="fa fa-copyright" aria-hidden="true"></i> CLARK CLIFFORD PHOTO - ALL RIGHTS RESERVED
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-4 socialDiv">
            <a href="mailto:clarkcliffordphoto@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-1 socialDiv">
            <a href="https://instagram.com/clarkcliffordphoto"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-1 socialDiv">
            <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-1 socialDiv">
            <a href="https://facebook.com/clarkcliffordphoto"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
