<div class="homeJumbo">
    <img src="/assets/img2/wide-bw-dis.png" />
</div>
<div class="reserved">
    <i class="fa fa-copyright" aria-hidden="true"></i> CLARK CLIFFORD PHOTO - ALL RIGHTS RESERVED
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-1 col-xs-offset-4 socialDiv">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="col-xs-1 socialDiv">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
    </div>
</div>
